# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [ pull_request, push ]

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [ 21 ]
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup Gradle wrapper
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 9.2.0

      - name: setup Java ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew buildAndCollect

      - name: capture build artifacts
        if: ${{ matrix.java == '21' }} # Only upload artifacts once
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/